*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(../img/pattern.png);
    background-color: #639EF8; 
    width: auto;
    
    
}
.logo{
    height: 70px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 50px;
}

main{
    margin-left: 20px;
    padding: 50px;
}

h1{
    font-size: 3rem;
    margin-top: 20px;
}

.subtext{
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.writer{
    color: #639EF8;
}

.date{
    font-size: 1rem;
    
}
.images{
    margin-bottom: 20px;
}
.description{
    font-size: 1.3rem;
}

.lorem{
    background-color: yellow;
}

.list{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
}

.table-head{
    width: 100%;
    margin-top: 40px;
    background-color: #1d9fe1;
    color: white;
    text-align: left;
}

.table-body{
    background-color: #A8E1F0;
    font-size: 1.2rem;
}
.table-body-w{
    font-size: 1.2rem;
    width: 33%;
}

table{
    width: 100%;
    border-spacing: 0px;
    padding-top: 20px;
}

td{
    width: 33%;
}

footer{
    padding-left: 50px;
}

.last-text{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    color: gray;
}

.monitor{
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.graph{
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
}


